# Data Cleaning

## Import packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Read in csv and examine data

In [28]:
combine = pd.read_csv('../data/nfl_combine_data.csv')

In [29]:
# Look at descriptive stats
print(combine.shape, '\n')
print(combine.info())
combine.describe().T

(10228, 16)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10228 entries, 0 to 10227
Data columns (total 16 columns):
combine_year             10228 non-null int64
player_name              10228 non-null object
college                  10228 non-null object
position                 10228 non-null object
height_inches            10228 non-null float64
weight_lbs               10228 non-null int64
hand_size_inches         8621 non-null float64
arm_length_inches        8303 non-null float64
wonderlic_score          431 non-null float64
40_yard_dash             9292 non-null float64
bench_press_reps         6977 non-null float64
vertitcal_leap_inches    8258 non-null float64
broad_jump_inches        8107 non-null float64
3_cone_drill             4667 non-null float64
20_yard_shuttle          7333 non-null float64
60_yard_shuttle          3211 non-null float64
dtypes: float64(11), int64(2), object(3)
memory usage: 1.2+ MB
None

,count,mean,std,min,25%,50%,75%,max
combine_year,10228.0,2002.438600,21.930191,5.00,1994.00,2002.000,2012.00,2018.00
height_inches,10228.0,73.741555,2.638082,64.90,71.90,74.000,75.75,82.40
weight_lbs,10228.0,240.183125,44.937472,142.00,203.00,232.000,275.00,387.00
hand_size_inches,8621.0,9.531669,0.627339,7.13,9.13,9.500,10.00,11.88
arm_length_inches,8303.0,32.223198,1.493612,25.63,31.25,32.250,33.25,38.50
wonderlic_score,431.0,24.044084,7.614576,4.00,19.00,24.000,29.00,48.00
40_yard_dash,9292.0,4.828435,0.309596,4.21,4.59,4.755,5.04,6.12
bench_press_reps,6977.0,19.822703,6.522123,1.00,15.00,20.000,24.00,51.00
vertitcal_leap_inches,8258.0,32.022463,4.202037,17.50,29.00,32.000,35.00,46.00
broad_jump_inches,8107.0,112.403232,9.312732,7.00,106.00,113.000,119.00,147.00
3_cone_drill,4667.0,7.340456,0.445726,6.34,7.00,7.250,7.62,9.61
20_yard_shuttle,7333.0,4.403492,0.268127,3.73,4.20,4.360,4.57,5.68
60_yard_shuttle,3211.0,11.674363,0.425705,10.43,11.38,11.650,11.93,13.91

wonderlic, 3_cone_drill, 60_yard_shuttle have many missing values

In [30]:
combine.head()

,combine_year,player_name,college,position,height_inches,weight_lbs,hand_size_inches,arm_length_inches,wonderlic_score,40_yard_dash,bench_press_reps,vertitcal_leap_inches,broad_jump_inches,3_cone_drill,20_yard_shuttle,60_yard_shuttle
0,2018,Josh Adams,Notre Dame,RB,74.0,213,9.25,33.75,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN
1,2018,Ola Adeniyi,Toledo,DE,74.0,248,9.63,31.75,NaN,4.83,26.0,31.5,NaN,7.21,4.28,12.79
2,2018,Jordan Akins,Central Florida,TE,75.0,249,9.50,32.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,Jaire Alexander,Louisville,CB,71.0,192,NaN,NaN,NaN,4.38,14.0,35.0,127.0,6.71,3.98,NaN
4,2018,Austin Allen,Arkansas,QB,72.0,210,9.63,30.63,NaN,4.81,NaN,29.5,112.0,7.18,4.48,NaN

In [31]:
# Check years of data
combine.combine_year.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006,    5, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998,
       1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987])

In [16]:
# Check '5' row: google search reveals he was part of 2005 combine
combine.loc[combine.combine_year == 5]

Empty DataFrame
Columns: [combine_year, player_name, college, position, height_inches, weight_lbs, hand_size_inches, arm_length_inches, wonderlic_score, 40_yard_dash, bench_press_reps, vertitcal_leap_inches, broad_jump_inches, 3_cone_drill, 20_yard_shuttle, 60_yard_shuttle]
Index: []

In [35]:
combine.groupby('combine_year').count()

,player_name,college,position,height_inches,weight_lbs,hand_size_inches,arm_length_inches,40_yard_dash,bench_press_reps,vertitcal_leap_inches,broad_jump_inches,3_cone_drill,20_yard_shuttle,60_yard_shuttle
combine_year,,,,,,,,,,,,,,
1987,267,267,267,267,267,237,237,237,215,237,233,0,223,142
1988,322,322,322,322,322,316,1,272,277,264,260,0,249,159
1989,308,308,308,308,308,0,0,270,208,258,255,0,248,157
1990,324,324,324,324,324,314,314,287,207,277,279,0,257,147
1991,428,428,428,428,428,426,426,371,297,369,369,0,349,211
1992,438,438,438,438,438,421,421,364,288,366,358,0,340,197
1993,338,338,338,338,338,337,337,270,223,267,261,0,248,153
1994,315,315,315,315,315,315,315,249,181,245,246,0,229,128
1995,310,310,310,310,310,309,309,218,179,212,205,0,188,105
1996,296,296,296,296,296,296,296,222,164,226,218,0,205,116
1997,319,319,319,319,319,319,319,245,201,247,233,216,220,133
1998,303,303,303,303,303,302,302,225,189,238,234,216,215,125
1999,377,377,377,377,377,274,274,377,263,359,356,336,344,101
2000,258,258,258,258,258,231,231,258,174,224,231,200,199,100
2001,266,266,266,266,266,237,237,266,179,230,206,179,177,78
2002,270,270,270,270,270,242,242,270,201,241,237,193,190,83
2003,259,259,259,259,259,238,238,259,181,222,220,188,187,86
2004,274,274,274,274,274,248,248,274,191,233,235,194,199,91
2005,285,285,285,285,285,264,264,285,205,247,235,219,220,87
2006,279,279,279,279,279,276,276,279,202,263,264,226,234,116
2007,271,271,271,271,271,264,264,271,204,242,236,213,211,82
2008,267,267,267,267,267,262,262,267,204,249,246,206,201,60
2009,285,285,285,285,285,24,4,285,237,249,246,217,222,19
2010,287,287,287,287,287,151,155,287,239,248,234,205,210,21
2011,302,302,302,302,302,302,302,302,250,272,266,248,255,103
2012,326,326,326,326,326,307,315,326,244,267,256,220,223,62
2013,293,293,293,293,293,282,288,293,234,249,257,203,214,53
2014,304,304,304,304,304,287,287,297,245,271,261,222,224,41
2015,741,741,741,741,741,313,312,736,224,256,255,225,233,93
2016,319,319,319,319,319,304,304,267,244,271,266,206,216,60
2017,319,319,319,319,319,302,302,244,229,251,245,186,246,60
2018,278,278,278,278,278,221,221,219,198,208,204,149,157,42

In [49]:
combine.loc[combine.combine_year == 2015].isnull().sum()

combine_year               0
player_name                0
college                    0
position                   0
height_inches              0
weight_lbs                 0
hand_size_inches         428
arm_length_inches        429
40_yard_dash               5
bench_press_reps         517
vertitcal_leap_inches    485
broad_jump_inches        486
3_cone_drill             516
20_yard_shuttle          508
60_yard_shuttle          648
dtype: int64

## Cleaning Functions

In [33]:
# Clean combine_year record that lists '5' instead of '2005'
def replace_5():
    combine.loc[combine.combine_year == 5, 'combine_year'] = 2005

# Drop 'wonderlic_score' column due to too many missing values
def drop_wonderlic():
    combine.drop('wonderlic_score', axis=1, inplace=True)
    
# Add 'events_missed' columns
def events_missed():
    pass
# Add 'conference' column

# Position standardization

# Regression imputation for missing values

In [34]:
replace_5()
drop_wonderlic()